@import "mixins";
.theme--light {
  &.v-application {
    a {
      color: $clr-black;
    }
    .v-main__wrap {
      @include container
    }
    .nuxt-content {
      display: table;
      table-layout: fixed;
      width: 100%;
      h2 {
        margin-bottom: 20px
      }
      p {
        color: $clr-black;
        line-height: 2.5;
        margin-bottom: 42px;
        @include desktop {
          margin-bottom: 58px;
          line-height: 2.5;
        }
      }
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      a {
        color: #2d8fd5;
      }
      pre[class*="language-"] {
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $clr-black;
}

