@import "mixins";
.theme--light {
  &.v-application {
    a {
      color: $clr-black;
    }
    .v-main__wrap {
      @include container
    }
    .nuxt-content {
      display: table;
      table-layout: fixed;
      width: 100%;
      h2 {
        margin-bottom: 20px
      }
      p {
        color: $clr-black;
        line-height: 2.5;
        margin-bottom: 42px;
        @include desktop {
          margin-bottom: 58px;
          line-height: 2.5;
        }
      }
      img {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
      a {
        color: #2d8fd5;
      }
      ul {
        margin-bottom: 42px;
        @include desktop {
          line-height: 58px;
        }
      }
      pre[class*="language-"] {
        -webkit-overflow-scrolling: touch;
      }
      code {
        color: $clr-gray;
        font-weight: bold;
        font-size: .875em;
        background-color: #f7fafc;
        padding: .25rem;
        border-width: 1px;
        border-color: #edf2f7;
        border-radius: .25rem;
      }
      .nuxt-content-highlight {
        code {
          color: #862fc5;
          background: none;
        }
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $clr-black;
}

